:root {
	--azul: #0192AD;
	--azulClaro: #00A3D9;
	--blanco: #fff;
	--negro: #000;
	--grisLetras: #898e91;
	--grisOscuro: #565656;
	--grisClaro: #CACACA;
	--grisLineas: #e1e1e1;
	--amarillo: #FDCD14;
	--rojo: #e51c11;
}