@font-face {
	font-family: 'averia';
	src: url( 'fuentes/AveriaSerifLibre-Regular.ttf');
	src: local( 'averia' ), , url( 'fuentes/AveriaSerifLibre-Regular.ttf' ) format( 'truetype' );
}
@font-face {
	font-family: 'averiaLight';
	src: url( 'fuentes/AveriaSerifLibre-Light.ttf');
	src: local( 'averiaLight' ), url( 'fuentes/AveriaSerifLibre-Light.ttf' ) format( 'truetype' );
}
@font-face {
	font-family: 'averiaBold';
	src: url( 'fuentes/AveriaSerifLibre-Bold.ttf');
	src: local( 'averiaBold' ), url( 'fuentes/AveriaSerifLibre-Bold.ttf' ) format( 'truetype' );
}