@import url( 'colors.css' );
@import url( 'https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,400i,700&display=swap' );
body, html { height: 100%; }
body {
	margin: 0;
	font-family: 'Averia Serif Libre', cursive;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 14px;
}
.mainContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	object-fit: cover;
}
.dLogo {
	position: absolute;
	margin: 0 auto;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 15;
	text-align: center;
}
body.movil .dLogo { top: 35px; }
.logo {
	width: auto;
	height: 58px;
	cursor: pointer;
	visibility: hidden;
}
.contenidoPrincipal {
	position: absolute;
	width: 100%;
	height: auto;
	margin: 0 auto;
	right: 0;
	left: 0;
	bottom: 15%;
}
body.movil .contenidoPrincipal { max-width: 100%; }
#wheel {
	position: absolute;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	right: 0;
	left: 0;
	bottom: 15%;
	text-align: center;
	z-index: 10;
}
#wheel-image {
	width: 450px;
	height: 450px;
}
.link-icon {
	position: absolute;
	width: 200px;
	height: 95px;
	top: 0;
	left: 0;
	visibility: hidden;
	cursor: pointer;
}
.link-icon a {
	display: block;
	width: 100%;
	height: 95px;
	text-align: center;
	position: relative;
}
.iconoLista {
	height: 100%;
	width: auto;
	display: block;
	margin: 0 auto;
	opacity: 1;
	transition: all 0.6s;
}
.comingSoon {
	opacity: 0;
	color: var( --negro );
	position: absolute;
	width: 100%;
	margin-top: -25%;
	transition: all 0.6s;
	font-style: italic;
	font-size: 11px;
}
.box-link:hover > .iconoLista {
	opacity: 0;
}
.box-link:hover > .comingSoon {
	opacity: 1;
}
.contenidoCentro {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	z-index: 20;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	right: 0;
	left: 0;
	margin-top: 15%;
}
body.movil .contenidoCentro { max-width: 98%; }
.contenidoCentro img {
	position: relative;
	width: 1px;
	height: auto;
	top: 50%;
	transform: translateY( -55% );
	box-sizing: border-box;
	transition: all 1.5s;
}
.contenidoCentro p.centrado {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 40%;
	box-sizing: border-box;
}
.contactDiv {
	text-align: left;
	padding-top: 35px;
	box-sizing: border-box;
}
body.movil .contactDiv { padding-top: 35px; }
.contactDiv h3 {
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	margin: 0 auto;
	margin-top: 35px;
}
body.movil .contactDiv h3 { margin-top: 15px; }
.contactDiv label {
	font-size: 13px;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 10px;
	color: var( --negro );
}
.contactDiv .input {
	width: 100%;
	margin: 0 auto;
	background-image:url( '/images/textarea-bg-dot.png' );
	background-position: bottom right;
	background-attachment: local;
	margin-bottom: 10px;
	text-align: center;
	margin-top: -1px;
}
.contactDiv .textarea {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
}
.contactDiv input, .contactDiv textarea {
	width: 100%;
	font-size: 13px;
	font-family: 'Averia Serif Libre', cursive;
	box-sizing: border-box;
	border: none;
	background: transparent;
	outline: none;
	margin: 0 auto;
}
.contactDiv textarea {
	width: 106%;
	background-image:url( '/images/textarea-bg-dot.png' );
	background-attachment: local;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -3%;
	text-align: left;
	resize: none;
	line-height: 22px;
}
.contactDiv .botonContainer {
	width: 100%;
	text-align: right;
	padding-right: 5%;
	font-size: 13px;
	box-sizing: border-box;
}
.contactDiv .botonContainer a {
	text-decoration: none;
	color: var( --negro );
	cursor: pointer;
}
.vacio { color: var( --rojo ) !important; }
.error {
	text-align: center;
	color: var( --rojo );
	margin: 0;
    margin-top: -5px;
    font-size: 12px;
}
.rellenoLeft { float: left; clear: left; height: 16px; line-height: 16px; background-color: var( --rojo ); }
.rellenoRight { float: right; clear: right; height: 16px; line-height: 16px; background-color: var( --rojo ); }
svg {
	position: absolute;
	z-index: 2;
	transition: all 1.5s;
    width: 550px;
    height: 100%;
    fill: var( --blanco );
    display: none;
    margin: 0 auto;
    right: 0;
    left: 0;
}
body.movil svg { margin-top: 0; }
svg circle { mix-blend-mode: multiply; }
.shape {
    height: 100%;
    width: 50px;
    shape-margin: 2.6px;
}
.shape-left {
    float: left;
    shape-outside: url( '../circle-left.svg' );
}
.shape-right {
    float: right;
    shape-outside: url( '../circle-right.svg' );
}
.text {
    width: 100px;
    height: 100%;
    text-align: justify;
    color: var( --negro );
    hyphens: auto;
    font-size: 2.15px;
    line-height: 1.6;
    padding: 23% 0;
	hyphens: none;
}
body.movil .text { font-size: 2.35px; }
.bold, b { font-weight: 700; }
i, .italic { font-style: italic; font-weight: 400; }
.text p { margin: 0 0 5px 0; }
.arriba {
	position: absolute;
    top: 50px;
    left: 80px;
}
/*Animations*/
.animation_symbol_container{
	margin: 100px auto 0;
	border: 1px solid #CCC;
}
.animation_symbol_container svg {
    fill: var( --negro );
		display:block;
		position: static;
		margin:0 auto;
		width: 200px !important;
		height: 200px !important;
}
@media screen and ( max-width : 865px ) { .contactDiv a { padding-right: 15%; } }
@media screen and ( max-width : 767px ) {
	body.movil .link-icon, body.movil .link-icon a { height: 70px; }
	body.movil .contactDiv a { padding-right: 0; }
	body.movil .contactDiv h3, body.movil .contactDiv label,
	body.movil .contactDiv input, body.movil .contactDiv textarea,
	body.movil .contactDiv a { font-size: 10px; }
	body.movil .contactDiv label[for="name"] { padding-left :8px; }
	body.movil .link-icon, body.movil .link-icon a { height: 70px; }
	body.movil .contenidoPrincipal .shape { shape-margin: 2.4px; }
	.contactDiv .textarea { margin-top: 0; }
	body.horizontal #wheel { bottom: initial; top: 120px; }
	body.horizontal .contenidoPrincipal { bottom: initial; top: 110px; }
}
@media screen and ( max-width: 450px ) {
	body.movil .contactDiv h3, body.movil .contactDiv label, body.movil .contactDiv input, body.movil .contactDiv textarea { font-size: 9px; }
	body.movil .contactDiv textarea {
		line-height: 15px;
		background-image: url( '/images/textarea-bg-dot-lg15.png' );
	}
	.contactDiv textarea {
		padding-left: 25px;
		padding-right: 25px;
		background-image: url( '/images/textarea-bg-dot.png' );
	}
}
@media screen and ( max-height: 580px ) { body.movil .contactDiv { padding-top: 20px; } }
@media screen and ( max-height: 560px ) { body.movil .contactDiv { padding-top: 15px; } }
