@import url( 'https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300&display=swap' );
@import url( 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap' );
@import url( 'colores.css?v=6' );
* {
	margin: 0px;
	padding: 0px;
}
body, html { height: 100%; }
body {
	margin: 0;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 16px;
}
body.general { background-color: var( --grisFondo ); }
header {
	display: flex;
	position: absolute;
	color: white;
	color: var( --blanco );
	background-color: black;
	background-color: var( --negro );
	transition: all 0.5s;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 2;
	height: 96px;
}
header .menu {
	display: flex;
	list-style: none;
	font-size: 15px;
	width: 1070px;
	float: right;
	margin: 43px 0;
}
header .menu li { padding: 0 15px; }
header .menu li a {
	color: var( --blanco );
	box-sizing: border-box;
	text-transform: uppercase;
}
.logoImg { margin: 24px 0; width: 300px;}
.menu li a span {
	display: block;
	width: 0;
	border-bottom: 1px solid var( --blanco );
	transition: all 0.5s;
}
header .menu li a:hover > span, header .menu li.activo a span { width: 100%; }
.bMobile {
	position: absolute;
	top: 35px;
	right: 50px;
	font-size: 25px;
	color: var( --blanco );
	display: none;
}
.movilSection { display: none; }
.bMobileCierra {
	position: fixed;
	z-index: 111;
	color: var( --blanco );
	font-size: 30px;
	transition: all 0.5s;
	top: 15px;
	right: 300px;
	opacity: 0;
	display: none;
}
.bMobileCierra.abierto { opacity: 1; }
a { text-decoration: none; cursor: pointer; }
img { max-width: 100%; }
.home header { background: linear-gradient( to top, transparent 0%, black 100%); }
.home header:hover { background-color: var( --negro ); }
main { padding-top: 171px; position: relative; }
.home main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	padding-top: 0;
}
.founder main { padding-top: 96px; }
.founder #mainSection { padding-top: 70px; }
.home .sociales {
	position: absolute;
	bottom: 30px;
	left: 60px;
	z-index: 111;
}
.home .bx-viewport, .home .bx-wrapper{
	position: relative;
	width: 100%;
	height: 100% !important;
	top: 0;
	left: 0;
}
.home .bxslider, .home .bxslider li{
	height: 100% !important;
}
.home .bxslider li {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.home .bx-wrapper .bx-viewport { border: none !important; }
.services .bxslider li { display: flex; }
.services .bx-viewport { height: 600px !important; }
.botonAgenda {
	position: absolute;
	bottom: 35px;
	left: 60px;
	background-color: var( --semiNegro );
	color: var( --blanco );
	border: 1px solid var( --semiNegro );
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 25px;
	transition: all 0.5s;
	text-transform: uppercase;
	font-size: 18px;
	display: block;
	width: 228px;
	text-align: center;
	z-index: 111;
}
.botonAgenda:hover { background-color: transparent; border: 1px solid var( --blanco ); }
.scrollAnimation { visibility: hidden; }
h1 { font-size: 45px; letter-spacing: 4.41px; font-weight: 700; text-transform: uppercase; margin: 0;}
h2 { font-family: 'Roboto Mono', monospace; font-weight: 300; margin: 13px 0; font-size: 16px; text-transform: uppercase; }
.contentText { margin-top: 20px; width: 534px; max-width: 50%; }
.contentText p { margin: 30px 0; }
.contentText p.italica { font-style: italic; }
.titulos { float: left; }
.busquedaDiv {
	padding-top: 35px;
	float: right;
	max-width: 50%;
}
.busquedaDiv i { font-size: 32px; }
.busquedaDiv input {
	width: 336px;
	height: 34px;
	outline: none;
	border: none;
	border-bottom: 1px solid var( --bordeInput );
	background-color: transparent;
	box-sizing: border-box;
	padding: 8px 15px;
	font-size: 28px;
}
.principal {
	position: relative;
	width: 1600px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
}
.fila {
	zoom: 1;
	width: 100%;
	box-sizing: border-box;
}
.fila:before, .fila:after {
	content: '';
	display: table;
}
.fila:after { clear: both; }
.capaNegra {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10001;
	background-color: var( --negro );
	opacity: 0.7;
	display: none;
}
.swal-overlay { z-index: 1002222201; }
.cargando {
	z-index: 1002222202;
	position: fixed;
	width: 100%;
	text-align: center;
	top: 40%;
	left: 0;
	display: none;
	text-align: center;
	color: var( --blanco );
}
.cargando i { font-size: 65px; }
.cargando h3 { color: var( --blanco ); margin-top: 20px; }
.pressItem {
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid var( --bordePress );
	padding: 63px 0;
}
.pressItem:last-child { border-bottom: none; }
.pressItem .principal { display: flex; }
.pressItem .pressImg {
	width: 800px;
	max-width: 60%;
	margin-right: 81px;
	box-sizing: border-box;
}
.pressItem .pressImg img { width: 100%; height: auto; }
.pressItem .pressContent {
	width: 567px;
	max-width: 40%;
	box-sizing: border-box;
}
.pressItem .pressContent img { margin-bottom: 10px;}
.pressItem .pressContent span {
	display: block;
	font-size: 16px;
	line-height: 1.92;
	letter-spacing: 1.14px;
}
.pressItem .pressContent h3 {
	margin: 20px 0;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 3.2px;
}
.pressItem .pressContent p { font-size: 16px; line-height: 2.29; letter-spacing: 1.4px; margin-bottom: 20px}
.pressItem .pressContent a {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.64;
	letter-spacing: 1.32px;
	border-bottom: 0.7px solid var( --bordePress );
	text-transform: uppercase;
	color: var( --negro );
	margin-top: 25px;
	cursor: pointer;
}
.fullImg { width: 100%; height: auto; }
.testimonioText {
	width: 960px;
	max-width: 100%;
	margin: 200px auto;
	text-align: center;
	font-size: 45px;
	line-height: 1.42;
	letter-spacing: 4.24px;
}
.testimonioText .linea {
	width: 1px;
	height: 138px;
	background-color: var( --negro );
	margin: 0 auto;
	margin-top: 92px;
}
.caption {
	font-size: 16px;
	font-weight: 300;
	line-height: 4.6;
	letter-spacing: 1.41px;
	color: var( --negro );
	text-transform: uppercase;
	display: block;
	margin-top: -20px;
}
.scrollBarPosition {
	position: fixed;
	height: 500px;
	width: 3px;
	border-left: 1px solid var( --negro );
	top: 280px;
	left: 50px;
}
.scrollBarPosition span {
	display: block;
	height: 50px;
	min-height: 50px;
	width: 2px;
	background-color: var( --negro );
	position: absolute;
	top: 0;
	margin-left: -1.5px;
}
.aboutItem { margin: 100px 0; display: flex; }
.aboutItem.vertical { align-items: center; justify-content: center; }
.aboutItem h3 {
	font-size: 45px;
	line-height: 1.38;
	letter-spacing: 4.71px;
	margin: 0;
}
.aboutItem h3 span {
	display: block;
	width: 78px;
	height: 2px;
	margin: 47px 0;
	background-color: var( --negro );
}
.aboutItem p { font-size: 16px; line-height: 2; letter-spacing: 1.4px; }
.aboutItem .aboutContent { width: 500px; max-width: 30%; box-sizing: border-box; margin-right: 15px; }
.aboutItem .aboutImg { width: 900px; max-width: 70%; }
.aboutItem .aboutImg img { width: 100%; height: auto; }
.aboutItem.vertical .aboutContent { width: 700px; max-width: 50%; margin-right: 0; margin-left: 60px; }
.aboutItem.vertical .aboutImg { width: 700px; max-width: 50%; }
.aboutItem .caption { text-align: right; }
.aboutItem.vertical .caption { text-align: left; }
.awardItem {
	width: 1216px;
	max-width: 100%;
	margin: 100px auto;
}
.awardItem .contenido { display: flex; margin-bottom: 50px; }
.awardItem .contenido .titulos { width: 350px; max-width: 40%; box-sizing: border-box; margin-right: 50px; }
.awardItem .contenido .titulos h3 { font-size: 40px; text-transform: uppercase; line-height: 1.25; letter-spacing: -0.09px; }
.awardItem .contenido .titulos h4 {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 1.32px;
	margin-top: 11px;
}
.awardItem .contenido .descripcion { width: 700px; max-width: 60%; box-sizing: border-box; }
.awardItem .contenido .descripcion b { display: block; font-size: 16px; margin: 8px 0; }
.awardItem .contenido .descripcion span { display: block; width: 25px; height: 2px; background-color: var( --negro ); margin: 20px 0; }
.awardItem .contenido .descripcion p {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
	letter-spacing: 1.4px;
}
.awardItem .awardImg {
	display: block;
	width: 100%;
	position: relative;
	background-color: var( --negro );
	text-align: center;
	position: relative;
}
.awardItem .awardImg img {
	transition: all 0.3s;
	opacity: 1;
	width: 100%;
	height: auto;
	margin: 0;
	margin-bottom: -5px;
}
.awardItem .awardImg a {
	position: absolute;
	font-size: 25px;
	line-height: 1.55;
	letter-spacing: -0.05px;
	top: 30%;
	margin-top: -35px;
	display: block;
	width: 100%;
	text-align: center;
	color: var( --blanco );
	transition: all 0.7s;
	opacity: 0;
	line-height: 1.36;
	letter-spacing: -0.06px;
}
.awardItem .awardImg .linea {
	position: absolute;
	display: block;
	top: 50%;
	width: 0;
	height: 1px;
	background-color: var( --blanco );
	z-index: 1;
	transition: all 0.7s;
	opacity: 0;
}
.awardItem .awardImg:hover > img { opacity: 0.4; }
.awardItem .awardImg:hover > a { opacity: 1; top: 50%; }
.awardItem .awardImg:hover > .linea { width: 100%; opacity: 1; }
.textContent.contacto { max-width: 50%; }
.contactoDiv {
	margin: 90px auto;
	width: 600px;
	max-width: 90%;
}
.contactoDiv h3 {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 15px;
	letter-spacing: 1.4px;
	text-align: center;
	color: var( --negro );
	margin: 0;
	margin-bottom: 24px;
	text-transform: uppercase;
}
.contactoDiv .linea {
	width: 19px;
	height: 2px;
	background-color: var( --negro );
	margin: 0 auto;
	margin-bottom: 75px;
}
.contactoDiv label, .contactoDivPop label {
	margin: 0;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1.59px;
	margin-bottom: 10px;
	max-width: 98%;
}
.contactoDiv input, .contactoDivPop input {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	letter-spacing: 1.41px;
	padding: 5px 0;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid var( --negro );
	margin-bottom: 40px;
	width: 100%;
	max-width: 98%;
}
.contactoDiv input::-webkit-input-placeholder {
	font-family: 'Averia Serif Libre', cursive;
	color: var( --negro );
	letter-spacing: 1.49px;
}
.contactoDivPop input { border-bottom: 1px solid var( --blanco ); color: var( --blanco ); }
.contactoDiv .mitad, .contactoDivPop .mitad { display: flex; width: 580px; max-width: 100%; }
.contactoDiv .mitad .campo, .contactoDivPop .mitad .campo { width: 50%; }
.contactoDiv .mitad .campo:first-child, .contactoDivPop .mitad .campo:first-child { padding-right: 10%; box-sizing: border-box; }
.contactoDivPop .mitad .campo input, .contactoDivPop .mitad .campo label,
.contactoDiv .mitad .campo input, .contactoDiv .mitad .campo label { width: 100%; }
.contactoDiv .mitad .campo input#code, .contactoDivPop .mitad .campo input#codeAgenda { width: 28%; margin-right: 2%; }
.contactoDiv .mitad .campo input#phone, .contactoDivPop .mitad .campo input#phoneAgenda { width: 70%; }
.contactoDiv .boton, .contactoDivPop .boton {
	display: block;
	background-color: var( --negro );
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	border-radius: 38.5px;
	width: 249px;
	font-size: 18px;
	box-sizing: border-box;
	padding: 21px 0;
	text-align: center;
	border: 1px solid var( --negro );
	margin: 0 auto;
	margin-top: 60px;
	transition: all 0.5s;
	color: var( --letraFooter );
}
.contactoDiv .boton:hover { background-color: transparent; color: var( --negro ); }
.contactoDivPop .boton { border: 1px solid var( --blanco ); color: var( --blanco ); width: 190px; }
.vacio { border-bottom: 1px solid #ff0000 !important; }
.linea.contacto {
	width: 22px;
	height: 2px;
	background-color: var( --blanco );
	display: block;
	margin: 15px 0;
}
.regresa { color: var( --blanco ); }
.infoContacto {
	position: absolute;
	left: 60%;
	bottom: 50px;
	width: 300px;
	max-width: 100%;
	color: var( --blanco );
	z-index: 111;
}
.infoContacto h3 { font-size: 20px; letter-spacing: 1.65px; margin-bottom: 15px; text-transform: uppercase; }
.infoContacto p {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1.32px;
}
.imgContact {
	position: absolute;
	top: 96px;
	right: 0;
	width: 45%;
	height: 100%;
	background-position: top center !important;
	background-size: cover !important;
}
.negroGradiente {
	background-color: rgba( 10, 2, 14, 0.52 );
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}
.scheduleBoton {
	position: absolute;
	top: 180px;
	right: 35px;
	font-size: 16px;
	letter-spacing: 1.85px;
	color: var( --letraFooter );
	padding: 5px 0;
	text-transform: uppercase;
	border-bottom: 1px solid var( --letraFooter );
	z-index: 111;
}
.flexBox { display: flex; }
.horario { width: 48%; padding-right: 40px; box-sizing: border-box; }
div.fecha { width: 48%; padding-left: 40px; box-sizing: border-box; }
.lineVertical { width: 1px; height: 518px; background-color: rgba(243, 243, 243, 0.37); }
.horaElige {
	font-family: 'Roboto Mono', monospace;
	font-size: 13px;
	letter-spacing: 1.22px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	border: 1px solid var( --blanco );
	border-radius: 5px;
	margin: 5px 0;
	transition: all 0.5s;
	cursor: pointer;
}
.horaElige:hover, .horaElige.marcada { background-color: var( --blanco ); color: var( --negro ); }
.horarioScroll { height: 275px; margin: 20px 0; overflow-y: auto; }
.ui-datepicker-title {
	text-align: left;
	box-sizing: border-box;
	padding: 0 15px;
	font-size: 22px;
	text-transform: uppercase;
}
.ui-datepicker-prev, .ui-datepicker-next { position: absolute; }
.ui-datepicker-prev { right: 40px; }
.ui-datepicker-prev span { display: none; }
.ui-datepicker-prev:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053"; }
.ui-datepicker-next { right: 15px; }
.ui-datepicker-next span { display: none; }
.ui-datepicker-next:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054"; }
.ui-datepicker-title, .ui-datepicker-calendar, .ui-datepicker-header, #datepicker {
	width: 350px;
	max-width: 100%;
	margin: 20px auto;
}
#datepicker { position: relative; margin-top: 65px; }
.ui-datepicker-calendar th { font-size: 15px; }
.ui-datepicker-calendar td {
	width: 40px;
	height: 40px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}
.ui-datepicker-calendar td { text-align: center; }
.ui-datepicker-calendar td a { color: var( --blanco ); }
.ui-datepicker-calendar td span { color: var( --morado ); }
.ui-datepicker-calendar td.ui-datepicker-today a,
.ui-datepicker-calendar td a.ui-state-active {
	width: 35px;
	height: 35px;
	display: block;
	background-color: rgba( 255, 255, 255, 0.5 );
	border-radius: 50%;
	color: var( --negro );
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 5px;
}
.ui-datepicker-calendar td a.ui-state-active { background-color: var( --blanco ); }
.popup {
	width: 824px;
	box-sizing: border-box;
	padding: 45px;
	background-color: var( --negro );
	color: var( --blanco );
	position: fixed;
	max-width: 90%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -1800px;
	transition: all 0.5s;
	z-index: 1111111;
}
.popup .cierra {
	z-index: 1;
	cursor: pointer;
	color: var( --blanco );
	font-size: 40px;
	position: absolute;
	right: 40px;
	top: 40px;
}
.popup.datos { width: 600px; }
.popup.popupActivo {
	top: 50%;
	transform: translateY(-50%);
}
.popup h1 {
	font-size: 22px;
	letter-spacing: 2.07px;
}
.popup .horario h1 { margin-top: 60px; }
.popup div.fecha h1 { margin-top: 10px; }
.popup h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 13px;
	letter-spacing: 1.22px;
}
.contactoDivPop { display: none; }
.founderImgTmp {
	position: absolute;
	top: 0;
	right: 0;
	width: 48%;
	height: 150% !important;
	box-sizing: border-box;
	background-size: cover !important;
	background-position: center center !important;
}
body.general footer {
	margin-top: 180px;
	background-color: black;
	background-color: var( --negro );
	color: white;
	color: var( --letraFooter );
	padding: 82px 0;
	box-sizing: border-box;
}
body.general.contact footer, body.general.press footer { margin-top: 0; }
#pinContainer {
	width: 100%;
	height: 100% !important;
	overflow: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}
#slideContainer {
	width: 500%;
	height: 100%;
}
.panel {
	height: 100%;
	width: 20%;
	float: left;
}
.panel img { height: 100%; width: auto; margin: 0 auto; }
.volverContent {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1.22px;
	color: var( --negro );
	padding: 20px;
	margin: 50px auto;
}
.volverContent i { font-size: 50px; }
#timezone {
	width: 50%;
    float: right;
    margin-top: -30px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var( --blanco );
    color: var( --blanco );
}
#timezone option { color: var( --negro ); }
.banner {
	padding: 100px 20px;
	box-sizing: border-box;
	min-height: 510px;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	background-size: cover !important;
	background-position: top center !important;
	color: var( --blanco );
	margin: 50px 0;
}
.banner.block { display: block; min-height: 390px; background-position: center center !important; }
.banner h2 {
	font-size: 37px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: 2.98px;
	font-family: 'Averia Serif Libre', cursive;
	text-transform: initial;
	margin: 0 41px 2px;
}
.banner h1 {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 45px;
	font-weight: bold;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 3.62px;
	margin: 27px 0;
}
.banner p {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 1.29px;
	width: 519px;
	max-width: 100%;
	margin: 27px auto;
}
.banner .parrafo {
	width: 1010px;
	max-width: 80%;
	margin: 0 auto;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.33;
	letter-spacing: 1.56px;
	text-align: center;
	color: var( --grisFondo );
	margin-bottom: 30px;
}
.shortMain { max-width: 100%; width: 910px; margin: 0 auto; }
.philH {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 33px;
	line-height: normal;
	letter-spacing: 2.9px;
	margin: 50px 0;
}
.philP {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 1.29px;
}
.estambre { width: 152px; height: auto; max-width: 100%; }
.barraNegra {
	width: 100%;
	margin: 176px 0 131px;
	background-color: var( --negro );
	color: var( --blanco );
	padding: 130px 0 60px;
}
.barraNegra .contenidoDerecha {
	width: 700px;
	float: right;
	max-width: 50%;
}
.philImgUno { position: absolute; z-index: 1; width: 696px; margin-top: -750px; max-width: 42%; }
.philImgUno img { width: 100%; height: auto; }
.philImgUno h4 {
	position: absolute;
	z-index: 2;
	color: var( --blanco );
	margin-top: 125px;
	margin-left: 95%;
	width: 100px;
	text-transform: uppercase;
}
.philImgDos {
	float: right;
	width: 696px;
	margin-top: -900px;
}
.philImgDos img { width: 100%; height: auto; }
.philImgDos h4 {
	position: absolute;
	z-index: 2;
	color: var( --blanco );
	margin-top: 125px;
	margin-left: 600px;
	width: 170px;
	text-transform: uppercase;
}
.philImgDos h4 span { color: var( --negro ); }
.otraImagen {
	width: 848px;
	margin-top: 250px;
}
video { width: 100%; height: auto; margin: 50px 0; }
.cretiveContent h3 {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 1150px;
	max-width: 100%;
	text-align: center;
	font-size: 35px;
	font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    font-family: 'Averia Serif Libre', cursive;
}
.cretiveContent h3 span {
	background-color: var( --negro );
	height: 1px;
	width: 42px;
	display: block;
	margin: 60px auto;
}
.cincuenta { float: left; width: 50%; box-sizing: border-box; }
.cretiveContent .fila .cincuenta:first-child { padding-right: 20px; }
.cretiveContent h4 {
	font-size: 30px;
    line-height: 1.37;
    letter-spacing: normal;
    font-weight: normal;
    font-family: 'Averia Serif Libre', cursive;
    margin-bottom: 30px;
}
.cretiveContent h5 {
	font-size: 28px;
    line-height: 1.38;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Averia Serif Libre', cursive;
    padding-bottom: 5px;
    font-weight: 300;
    border-bottom: 1px solid var( --negro );
    width: 95%;
}
.cretiveContent p {
	font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 300;
	line-height: 1.69;
	letter-spacing: normal;
    margin-bottom: 20px;
}
.projectDetail {
	margin: 50px 0;
	font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
	line-height: 1.6;
	letter-spacing: 1.21px;
}
.projectDetail b { font-family: 'Averia Serif Libre', cursive; font-weight: bold; }
.projectDetail span {
	display: block;
	margin-top: 30px;
	height: 1px;
	background-color: var( --negro );
	width: 25px;
}
.contentText.project p {
	font-family: 'Averia Serif Libre', cursive;
	line-height: 1.81;
	letter-spacing: 1.29px;
	font-size: 16px;
}
.filtros {
	display: flex;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	letter-spacing: 1.61px;
	width: 550px;
	margin: 50px auto;
}
.filtros .filtro {
	text-transform: uppercase;
	margin-right: 30px;
	width: 130px;
	transition: all 0.4s;
	cursor: pointer;
}
.filtros .filtro i { float: right; margin-right: 5px; margin-top: 5px; }
.filtros .filtro:hover, .filtros .filtro.activo { font-weight: bold; }
.selectorFiltro {
	width: 100%;
	height: 66px;
	background-color: var( --negro );
	box-sizing: border-box;
	padding: 23px 0;
	text-align: center;
	display: none;
}
.selectorFiltro a {
	margin: 0 50px;
	font-family: RobotoMono;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1.29px;
	color: var( --grisFondo );
	transition: all 0.4s;
	text-transform: uppercase;
}
.selectorFiltro a:hover, .selectorFiltro a.activa { color: var( --blanco ); }
.proyectos .proyecto {
	position: relative;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	height: auto;
	overflow: hidden;
	z-index: 1;
	background-color: var( --negro );
	margin: 0;
	margin-top: -5px;
	transition: all 0.4s;
	cursor: pointer;
}
.proyectos .proyecto:nth-child(odd) { left: 0; }
.proyectos .proyecto:nth-child(even) { right: 0; }
.proyectos .proyecto img {
	transition: all 0.4s;
	width: 100%;
	height: auto;
	opacity: 0.7;
	margin-bottom: -5px;
}
.proyectos .proyecto .proyectoInfo {
	position: absolute;
	z-index: 1;
	left: 50px;
	bottom: 50px;
	color: var( --grisFondo );
}
.proyectos .proyecto .proyectoInfo h2 {
	font-family: 'Averia Serif Libre', cursive;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 2.75px;
	margin: 0;
}
.proyectos .proyecto .proyectoInfo p {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1.76px;
}
.proyectos .proyecto:hover > img {
	-webkit-transform: scale( 1.05 );
	-ms-transform: scale( 1.05 );
	transform: scale( 1.05 );
}
.filtrosLinks.marcado { font-weight: 900; color: var( --blanco ); }
.bx-wrapper .bx-controls-direction a {
	bottom: 0;
	top: initial;
	text-transform: uppercase;
	color: var( --negro );
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	box-sizing: border-box;
	padding: 20px 9px;
}
.bx-wrapper .bx-prev { left: initial; right: 55px; border-right: 1px solid var( --negro ); font-weight: 900; }
.bx-wrapper .bx-next { font-weight: 900; }
.bx-wrapper .bx-controls-direction a.disabled { display: block; font-weight: 300; }
.lineaSepara { display: inline-block; width: 1px; height: 50px; background-color: var( --negro ); margin-left: 9px; }
.servicioDetalle {
	display: flex;
}
.servicioDetalle h2 {
	writing-mode: sideways-lr;
	font-family: 'Averia Serif Libre', cursive;
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 2.75px;
	margin: 0 20px 0 0;
}
.servicioDetalle .imageService { width: 796px; max-width: 65%; flex-shrink: 0; }
.servicioDetalle .servicioContent {
	box-sizing: border-box;
	padding: 27px;
}
.servicioDetalle .servicioContent.unaLinea { max-width: 43%; }
.servicioDetalle .servicioContent.dosLineas { max-width: 40%; }
.servicioDetalle .servicioContent h3 {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.83px;
	margin-bottom: 20px;
	margin-top:-30px;
	display: flex;
	align-items: center;
}
.servicioDetalle .servicioContent h3 .fraccion { width: 21px; text-align: center; margin-right: 15px;}
.servicioDetalle .servicioContent h3 .fraccion span { display: block;}
.servicioDetalle .servicioContent h3 .fraccion span:first-child { border-bottom: 1px solid var( --negro );  padding-top:25px;}
.servicioDetalle .servicioContent p {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 16px;
	line-height: 1.69;
	letter-spacing: 0.83px;
	margin-bottom: 15px;
}
.servicioDetalle .servicioContent .linea { display: block; height: 3px; width: 20px; background-color: var( --negro ); margin: 20px 0; }
.verticalTitle { width: 100px; }
.verticalTitle h2 {
	writing-mode: tb-rl;
	transform: rotate( -180deg );
	min-height: 531px;
}
.carreraDiv {
	width: 48%;
	margin: 1%;
	padding: 60px 30px;
	box-sizing: border-box;
	background-color: var( --negro );
	float: left;
}
.carreraDiv h3 {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1.3px;
	color: var( --blanco );
	margin-bottom: 30px;
}
.carreraDiv a.carreraBoton {
	width: 101px;
	height: 32px;
	background-color: var( --blanco );
	color: var( --negro );
	text-align: center;
	padding: 6px 27px 7px;
	border-radius: 16px;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	letter-spacing: 0.73px;
	text-transform: uppercase;
}
.listaRequerimientos { list-style: none; padding-left: 0; margin-bottom: 20px; }
.listaRequerimientos li {
	font-family: AveriaSerifLibre;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.63;
	letter-spacing: 0.83px;
}
.carreraDetalle h3 {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1.3px;
	margin-bottom: 20px;
}
.carreraDetalle h4 {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1.3px;
	margin-bottom: 20px;
}
.carreraDetalle p {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.63;
	letter-spacing: 0.83px;
	margin-bottom: 20px;
}
.carreraDetalle .linea { display: block; height: 3px; width: 20px; background-color: var( --negro ); margin: 20px 0; }
.padCar { padding: 0 20px; box-sizing: border-box; }
.carreraForm .campo {
	width: 288px;
	margin-left: 140px;
	margin-top: 76px;
	float: left;
	position: relative;
}
.carreraForm .campo label {
	display: block;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 14px;
	margin-bottom: 15px;
}
.carreraForm .campo input[type="text"], .campoDescarga {
	display: block;
	background-color: gray;
	background-color: var( --grisCampo );
	width: 100%;
	height: 45px;
	border-radius: 21px;
	box-sizing: border-box;
	padding: 15px 23px;
	border: none;
	outline: none;
	font-size: 14px;
}
.carreraForm .campo span.comentario {
	position: absolute;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
	color: #323030;
}
.campoDescarga { color: rgba( 0, 0, 0, 0.44 ); cursor: pointer; }
.campoDescarga i { float: right; }
.campoDescarga span { display: inline-block; width: 90%; overflow: hidden; }
.carreraForm .campo input[type="file"] { display: none; }
.full { width: 100%; display: block; float: left; margin-top: 100px; text-align: center; }
.full input[type="submit"] {
	width: 273px;
	height: 68px;
	padding: 20px 0;
	border-radius: 38.5px;
	background-color: var( --negro );
	color: var( --blanco );
	font-family: 'Averia Serif Libre', cursive;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	border: none;
	outline: none;
}
footer .footerContent { display: flex; margin-top: 85px; }
footer .footerContent h1 {
	margin: 0;
	font-size: 18px;
	letter-spacing: 1.59px;
}
footer .footerContent .linea { display: block; width: 24px; height: 1px; background-color: var( --letraFooter ); margin: 15px 0; }
footer .footerContent .primerColumna { min-width: 170px; margin-left: 100px; }
footer .footerContent .menuFooter { list-style: none; padding-left: 0; }
footer .footerContent .menuFooter li a {
	font-size: 16px;
	line-height: 1.94;
	letter-spacing: 1.3px;
	color: var( --letraFooter );
}
footer .footerContent .menuFooter.italico li a {
	font-style: italic;
	font-size: 16px;
	line-height: 2.19;
	letter-spacing: 1.41px;
}
footer .footerContent .segundaColumna { width: 150px; margin-left: 150px; }
footer .footerContent h1.mTop { margin-top: 100px; margin-bottom: 24px; }
.sociales { display: flex; }
.sociales a {
	border-radius: 50%;
	color: var( --letraFooter );
	border: 1px solid var( --letraFooter );
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 20px;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 3px;
}
footer .footerContent .tercerColumna { width: 550px; margin-left: 250px; }
footer .footerContent p {
	font-size: 30px;
	line-height: 1.73;
	letter-spacing: 2.65px;
}
.tCenter { text-align: center; }
footer .footerContent .tercerColumna img { width: 350px; height: auto; }

@media screen and ( max-width: 1506px ) {
	header .menu { font-size: 14px; width: 912px; margin: 42px 0; }
	header .menu li { padding: 0 9px; }
}
@media screen and ( max-width: 1425px ) {
	.philImgDos { max-width: 50%; }
	.philImgDos h4 { margin-left: 39%; }
}
@media screen and ( max-width: 1386px ) {
	.servicioDetalle .imageService { width: 600px; }
	.verticalTitle h2 { font-size: 30px; min-height: 400px; }
}
@media screen and ( max-width: 1350px ) {
	.textContent.contacto { max-width: 45%; }
	.otraImagen { margin-top: 120px; max-width: 55%; }
	.philImgDos { margin-top: -650px; }
	.philImgDos h4 { margin-left: 38%; }
	header .menu { width: 830px; font-size: 13px; }
	header .menu li { padding: 0 8px; }
}
@media screen and ( max-width: 1300px ) {
	.aboutItem .aboutContent { width: 650px; max-width: 40%; }
	.aboutItem .aboutImg { width: 750px; max-width: 60%; }
}
@media screen and ( max-width: 1270px ) {
	header .menu { width: 760px; font-size: 12px; }
	header .menu li { padding: 0 7px; }
}
@media screen and ( max-width: 1250px ) {
	.imgContact { width: 50%; }
	footer .footerContent .tercerColumna { margin-left: 180px; }
	.founderImgTmp { height: 135% !important; }
	.philImgDos h4 { margin-left: 37%; }
	.infoContacto { left: 55%; }
}
@media screen and ( max-width: 1197px ) {
	.philImgUno h4 { margin-top: 40px; }
	.philImgDos h4 { margin-left: 36%; }
	header .menu { width: 690px; font-size: 11px; }
	header .menu li { padding: 0 6px; }
}
@media screen and ( max-width: 1165px ) {
	.philImgDos h4 { margin-left: 35%; }
	header { text-align: center; }
	.home header:hover { background-color: transparent; }
	header .menu {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 110;
		width: 0;
		height: 100%;
		background-color: rgba( 0, 0, 0, 0.7 );
		margin: 0;
		display: initial;
		box-sizing: border-box;
		padding: 0;
		overflow: hidden;
		box-sizing: border-box;
		padding: 50px 0;
		transition: all 0.5s;
	}
	header .menu.abierto { width: 350px; padding: 50px 50px; }
	header .menu li { width: 100%; text-align: right; margin-bottom: 25px; }
	header .menu li a { font-size: 24px; }
	.botonAgenda { right: 0; left: 0; margin: 0 auto; }
	.bMobileCierra, .bMobile { display: block; }
	.servicioDetalle { display: initial; }
	.servicioDetalle .servicioContent { display: block; width: 600px; margin: 0 auto; max-width: 100%; padding: 27px 0; }
	.servicioDetalle .imageService { margin: 0 auto; max-width: 100%; }
	.verticalTitle { width: 100%; }
	.verticalTitle h2 { writing-mode: initial; width: 100%; text-align: center; transform: rotate( 0 ); min-height: initial; }
	#serviceSlide .flexBox { display: block; }
}
@media screen and ( max-width: 1105px ) {
	.pressItem .pressImg { margin-right: 25px; }
	footer .footerContent .primerColumna,
	footer .footerContent .segundaColumna,
	footer .footerContent .tercerColumna { margin-left: 80px; }
	.founderImgTmp { height: auto !important; }
	.philImgDos { margin-top: -600px; }
}
@media screen and ( max-width: 1015px ) {
	.barraNegra { padding: 50px 0; }
	.philImgDos h4 { margin-left: 33%; }
}
@media screen and ( max-width: 985px ) {
	.imgContact {
		display: block;
		position: relative;
		top: initial;
		right: initial;
		width: 100%;
		height: 800px;
		background-position: center center;
	}
	.textContent.contacto {
		width: 100%;
		margin: 0 auto;
		max-width: initial;
	}
	.contactoDiv { width: 100%; }
	.scheduleBoton { top: initial; margin-top: 50px; }
	.infoContacto {
		left: 50px;
		bottom: initial;
		margin-top: 600px;
	}
}
@media screen and ( max-width: 970px ) {
	.philImgUno h4 { margin-top: 10px; }
	.pressItem .principal { display: block; }
	.pressItem .pressImg { margin-right: 0; width: 100%; max-width: initial; }
	.pressItem .pressContent { width: 100%; max-width: initial; margin-top: 40px; }
	.busquedaDiv input { width: 280px; }
	.aboutItem { display: block; }
	.aboutItem .aboutContent, .aboutItem .aboutImg, .aboutItem.vertical .aboutContent, .aboutItem.vertical .aboutImg { width: 100%; max-width: initial; }
	.aboutItem .aboutContent, .aboutItem.vertical .aboutContent {
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.contentText { width: 100%; max-width: initial; }
	.founderImgTmp { display: none; }
	.founder #mainSection { padding-top: 10px; }
	.founder .contentText p { margin: 10px 0; }
	footer .footerContent .primerColumna { margin-left: 20px; }
	div.fecha { padding-left: 20px; }
	.horario { padding-right: 20px; }
	.movilSection { display: flex; }
	.founder .panel img { height: auto; max-width: 100%; max-height: 100%; }
	.founder .panel { display: flex; align-items: center; }
}
@media screen and ( max-width: 920px ) {
	.philImgUno { display: none; }
	.barraNegra .contenidoDerecha { float: none; width: 100%; max-width: 100%; }
	.philImgDos { float: none; width: 100%; max-width: 100%; margin-top: 50px; text-align: center; }
	.otraImagen { width: 100%; max-width: 100%; margin-top: 50px; text-align: center; }
	.barraNegra { margin-bottom: 0; }
	.philImgDos h4, .otraImagen h4 { display: none; }
	.carreraForm .campo { margin-left: 70px; }
}
@media screen and ( max-width: 900px ) {
	.popup { height: 100%; overflow-y: auto; }
	.popup .flexBox { display: block; }
	.popup .horario, .popup .fecha { width: 100%; padding: 15px 0; }
	.popup .lineVertical { width: 100%; height: 1px; }
	.popup .horario h1 { margin-top: 0; }
	.horarioScroll { height: 180px; }
	#datepicker { margin-top: 10px; }
	#datepicker, .ui-datepicker-title, .ui-datepicker-calendar, .ui-datepicker-header { width: 100%; }
	.ui-datepicker-title { padding: 0; }
}
@media screen and ( max-width: 840px ) {
	footer { text-align: center; }
	footer .footerContent .primerColumna, footer .footerContent .segundaColumna, footer .footerContent .tercerColumna { margin-left: 0; width: 100%; }
	footer .footerContent { display: block; }
	.sociales { width: 150px; margin: 0 auto; }
	footer .footerContent .linea { margin: 15px auto; }
	.footerContent .tercerColumna { margin-top: 20px; }
}
@media screen and ( max-width: 800px ) {
	.contentText { width: 100%; max-width: 100%; }
	.busquedaDiv input { width: 200px; }
	.awardItem .contenido { display: block; }
	.awardItem .contenido .titulos, .awardItem .contenido .descripcion { width: 100%; max-width: initial; }
	.cretiveContent .cincuenta { float: none; width: 100%; padding-right: 0; }
	.cretiveContent h5 { margin-bottom: 30px; }
}
@media screen and ( max-width: 773px ) {
	.carrera h3 { font-size: 20px; }
	.carreraForm .campo { margin-left: 45px; }
}
@media screen and ( max-width: 725px ) {
	.proyectos .proyecto { width: 100%; }
	.carreraForm .campo { margin-left: 0; box-sizing: border-box; padding: 0 15px; }
}
@media screen and ( max-width: 655px ) {
	.carrera { width: 98%; float: none; }
	.carreraForm .campo { width: 50%; }
	.contacto h1 { font-size: 40px; }
	.contacto h2 { margin: 10px 0; }
}
@media screen and ( max-width: 610px ) {
	.busquedaDiv { float: none; max-width: 100%; width: 250px; margin: 0 auto; }
	.titulos { float: none; width: 100%; text-align: center; }
	.pressItem .pressContent { margin-top: 20px; }
	.contactoDiv .mitad, .popup .mitad { display: block; }
	.contactoDiv .mitad .campo, .popup .mitad .campo { width: 100%; }
	.contactoDiv .mitad .campo:first-child { padding-right: 0 }
	.scrollBarPosition { display: none; }
}
@media screen and ( max-width: 580px ) {
	.carreraForm .campo { width: 100%; float: none; margin-top: 50px; }
}
@media screen and ( max-width: 560px ) {
	.testimonioText { font-size: 30px; margin: 120px auto; }
	.aboutItem h3 { font-size: 30px; }
	header { text-align: left; }
	.logoImg { width: 300px; height: auto; }
	.bMobile { top: 30px; }
}
@media screen and ( max-width: 450px ) {
	.home .sociales { left: 30px; }
	.principal { padding: 0 30px; }
	.bMobile { right: 30px; }
}
@media screen and ( max-width: 410px ) { header .principal { padding-left: 20px; } .home .sociales { left: 20px; } }
@media screen and ( max-width: 395px ) { .logoImg { width: 250px; } }
@media screen and ( max-width: 375px ) {
	footer .footerContent p { font-size: 20px; }
	h1 { font-size: 40px; }
}
