@import url( 'https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300&display=swap' );
@import url( 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap' );
@import url( 'colores.css?v=6' );
* {
	margin: 0px;
	padding: 0px;
}
body, html { height: 100%; }
body {
	margin: 0;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 16px;
}
body.general { background-color: var( --grisFondo ); }
header {
	display: flex;
	position: absolute;
	color: var( --blanco );
	background-color: var( --negro );
	transition: all 0.5s;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 2;
	height: 96px;
}
header .menu {
	display: flex;
	list-style: none;
	font-size: 16px;
	width: 555px;
	float: right;
	margin: 39px 0;
}
header .menu li { padding: 0 15px; }
header .menu li a {
	color: var( --blanco );
	box-sizing: border-box;
	text-transform: uppercase;
}
.logoImg { margin: 24px 0; }
.menu li a span {
	display: block;
	width: 0;
	border-bottom: 1px solid var( --blanco );
	transition: all 0.5s;
}
header .menu li a:hover > span, header .menu li.activo a span { width: 100%; }
.bMobile {
	position: absolute;
	top: 35px;
	right: 50px;
	font-size: 25px;
	color: var( --blanco );
	display: none;
}
.bMobileCierra {
	position: fixed;
	z-index: 111;
	color: var( --blanco );
	font-size: 30px;
	transition: all 0.5s;
	top: 15px;
	right: 300px;
	opacity: 0;
	display: none;
}
.bMobileCierra.abierto { opacity: 1; }
a { text-decoration: none; cursor: pointer; }
img { max-width: 100%; }
.home header { background: linear-gradient( to top, transparent 0%, black 100%);; }
.home header:hover { background-color: var( --negro ); }
main { padding-top: 171px; position: relative; }
.home main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	padding-top: 0;
}
.home .sociales {
	position: absolute;
	bottom: 30px;
	left: 60px;
	z-index: 111;
}
.bx-viewport, .bx-wrapper{
	position:relative;
	width:100%;
	height:100% !important;
	top:0;
	left:0;
}
.bxslider, .bxslider li{
	height: 100% !important;;
}
.bxslider li{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.bx-wrapper .bx-viewport { border: none !important; }
.bx-controls { display: none; }
.botonAgenda {
	position: absolute;
	bottom: 35px;
	left: 60px;
	background-color: var( --semiNegro );
	color: var( --blanco );
	border: 1px solid var( --semiNegro );
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 25px;
	transition: all 0.5s;
	text-transform: uppercase;
	font-size: 18px;
	display: block;
	width: 228px;
	text-align: center;
	z-index: 111;
}
.botonAgenda:hover { background-color: transparent; border: 1px solid var( --blanco ); }
.scrollAnimation { visibility: hidden; }
h1 { font-size: 50px; letter-spacing: 4.41px; font-weight: 700; text-transform: uppercase; margin: 0;}
h2 { font-family: 'Roboto Mono', monospace; font-weight: 300; margin: 13px 0; font-size: 16px; text-transform: uppercase; }
.contentText { margin-top: 20px; width: 534px; max-width: 50%; }
.contentText p { margin: 30px 0; }
.contentText p.italica { font-style: italic; }
.titulos { float: left; }
.busquedaDiv {
	padding-top: 35px;
	float: right;
	max-width: 50%;
}
.busquedaDiv i { font-size: 32px; }
.busquedaDiv input {
	width: 336px;
	height: 34px;
	outline: none;
	border: none;
	border-bottom: 1px solid var( --bordeInput );
	background-color: transparent;
	box-sizing: border-box;
	padding: 8px 15px;
	font-size: 28px;
}
.principal {
	position: relative;
	width: 1600px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
}
.fila {
	zoom: 1;
	width: 100%;
	box-sizing: border-box;
}
.fila:before, .fila:after {
	content: '';
	display: table;
}
.fila:after { clear: both; }
.capaNegra {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10001;
	background-color: var( --negro );
	opacity: 0.7;
	display: none;
}
.pressItem {
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid var( --bordePress );
	padding: 63px 0;
}
.pressItem:last-child { border-bottom: none; }
.pressItem .principal { display: flex; }
.pressItem .pressImg {
	width: 800px;
	max-width: 60%;
	margin-right: 81px;
	box-sizing: border-box;
}
.pressItem .pressImg img { width: 100%; height: auto; }
.pressItem .pressContent {
	width: 567px;
	max-width: 40%;
	box-sizing: border-box;
}
.pressItem .pressContent img { margin-bottom: 45px; max-height: 60px;}
.pressItem .pressContent span {
	display: block;
	font-size: 13px;
	line-height: 1.92;
	letter-spacing: 1.14px;
}
.pressItem .pressContent h3 {
	margin: 20px 0;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 3.2px;
}
.pressItem .pressContent p { font-size: 14px; line-height: 2.29; letter-spacing: 1.4px; }
.pressItem .pressContent a {
	font-family: 'Roboto Mono', monospace;
	display: block;
	width: 98px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.64;
	letter-spacing: 1.32px;
	border-bottom: 0.7px solid var( --bordePress );
	text-transform: uppercase;
	color: var( --negro );
	margin-top: 18px;
}
.fullImg { width: 100%; height: auto; }
.testimonioText {
	width: 960px;
	max-width: 100%;
	margin: 200px auto;
	text-align: center;
	font-size: 45px;
	line-height: 1.42;
	letter-spacing: 4.24px;
}
.testimonioText .linea {
	width: 1px;
	height: 138px;
	background-color: var( --negro );
	margin: 0 auto;
	margin-top: 92px;
}
.caption {
	font-size: 15px;
	font-weight: 300;
	line-height: 4.6;
	letter-spacing: 1.41px;
	color: var( --negro );
	text-transform: uppercase;
	display: block;
	margin-top: -20px;
}
.scrollBarPosition {
	position: fixed;
	height: 500px;
	width: 3px;
	border-left: 1px solid var( --negro );
	top: 280px;
	left: 50px;
}
.scrollBarPosition span {
	display: block;
	height: 50px;
	min-height: 50px;
	width: 2px;
	background-color: var( --negro );
	position: absolute;
	top: 0;
	margin-left: -1.5px;
}
.aboutItem { margin: 100px 0; display: flex; }
.aboutItem.vertical { align-items: center; justify-content: center; }
.aboutItem h3 {
	font-size: 50px;
	line-height: 1.38;
	letter-spacing: 4.71px;
	margin: 0;
}
.aboutItem h3 span {
	display: block;
	width: 78px;
	height: 2px;
	margin: 47px 0;
	background-color: var( --negro );
}
.aboutItem p { font-size: 16px; line-height: 2; letter-spacing: 1.4px; }
.aboutItem .aboutContent { width: 500px; max-width: 30%; box-sizing: border-box; margin-right: 15px; }
.aboutItem .aboutImg { width: 900px; max-width: 70%; }
.aboutItem .aboutImg img { width: 100%; height: auto; }
.aboutItem.vertical .aboutContent { width: 700px; max-width: 50%; margin-right: 0; margin-left: 60px; }
.aboutItem.vertical .aboutImg { width: 700px; max-width: 50%; }
.aboutItem .caption { text-align: right; }
.aboutItem.vertical .caption { text-align: left; }
.awardItem {
	width: 1216px;
	max-width: 100%;
	margin: 100px auto;
}
.awardItem .contenido { display: flex; margin-bottom: 50px; }
.awardItem .contenido .titulos { width: 350px; max-width: 40%; box-sizing: border-box; margin-right: 50px; }
.awardItem .contenido .titulos h3 { font-size: 40px; text-transform: uppercase; line-height: 1.25; letter-spacing: -0.09px; }
.awardItem .contenido .titulos h4 {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 1.32px;
	margin-top: 11px;
}
.awardItem .contenido .descripcion { width: 700px; max-width: 60%; box-sizing: border-box; }
.awardItem .contenido .descripcion b { display: block; font-size: 16px; margin: 8px 0; }
.awardItem .contenido .descripcion span { display: block; width: 25px; height: 2px; background-color: var( --negro ); margin: 20px 0; }
.awardItem .contenido .descripcion p {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
	letter-spacing: 1.4px;
}
.awardItem .awardImg {
	display: block;
	width: 100%;
	position: relative;
	background-color: var( --negro );
	text-align: center;
	position: relative;
}
.awardItem .awardImg img {
	transition: all 0.3s;
	opacity: 1;
	width: 100%;
	height: auto;
	margin: 0;
	margin-bottom: -5px;
}
.awardItem .awardImg a {
	position: absolute;
	font-size: 25px;
	line-height: 1.55;
	letter-spacing: -0.05px;
	top: 30%;
	margin-top: -35px;
	display: block;
	width: 100%;
	text-align: center;
	color: var( --blanco );
	transition: all 0.7s;
	opacity: 0;
	line-height: 1.36;
	letter-spacing: -0.06px;
}
.awardItem .awardImg .linea {
	position: absolute;
	display: block;
	top: 50%;
	width: 0;
	height: 1px;
	background-color: var( --blanco );
	z-index: 1;
	transition: all 0.7s;
	opacity: 0;
}
.awardItem .awardImg:hover > img { opacity: 0.4; }
.awardItem .awardImg:hover > a { opacity: 1; top: 50%; }
.awardItem .awardImg:hover > .linea { width: 100%; opacity: 1; }
.textContent.contacto { max-width: 45%; }
.contactoDiv, { margin: 60px 0; width: 100%; }
.contactoDiv label, .contactoDivPop label {
	margin: 0;
	display: block;
	width: 580px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1.59px;
	margin-bottom: 10px;
	max-width: 98%;
}
.contactoDiv input, .contactoDivPop input {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	letter-spacing: 1.41px;
	padding: 4px 0;
	text-transform: uppercase;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid var( --negro );
	margin-bottom: 22px;
	width: 580px;
	max-width: 98%;
}
.contactoDivPop input { border-bottom: 1px solid var( --blanco ); color: var( --blanco ); }
.contactoDiv .mitad, .contactoDivPop .mitad { display: flex; width: 580px; max-width: 100%; }
.contactoDiv .mitad .campo, .contactoDivPop .mitad .campo { width: 50%; }
.contactoDiv .mitad .campo:first-child, .contactoDivPop .mitad .campo:first-child { padding-right: 10%; box-sizing: border-box; }
.contactoDivPop .mitad .campo input, .contactoDivPop .mitad .campo label,
.contactoDiv .mitad .campo input, .contactoDiv .mitad .campo label { width: 100%; }
.contactoDiv .boton, .contactoDivPop .boton {
	display: block;
	background-color: transparent;
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	width: 179px;
	letter-spacing: 1.41px;
	font-size: 16px;
	box-sizing: border-box;
	padding: 8px 22px;
	border: 1px solid var( --negro );
	margin-top: 15px;
	transition: all 0.5s;
	color: var( --negro );
}
.contactoDiv .boton:hover { background-color: var( --negro ); color: var( --blanco ); }
.contactoDivPop .boton { border: 1px solid var( --blanco ); color: var( --blanco ); width: 190px; }
.vacio { border-bottom: 1px solid #ff0000 !important; }
.linea.contacto {
	width: 30px;
	height: 1px;
	background-color: var( --negro );
	display: block;
	margin: 45px 0;
}
.regresa { color: var( --blanco ); }
.infoContacto { width: 100%; padding-bottom: 50px; }
.infoContacto h3 { font-size: 20px; letter-spacing: 1.65px; margin-bottom: 15px; text-transform: uppercase; }
.infoContacto p {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1.32px;
}
.imgContact {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-position: bottom center !important;
	background-size: cover !important;
}
.scheduleBoton {
	position: absolute;
	bottom: 40px;
	right: 35px;
	font-size: 21px;
	letter-spacing: 1.85px;
	color: var( --letraFooter );
	padding: 8px 0;
	text-transform: uppercase;
	border-bottom: 1px solid var( --letraFooter );
	z-index: 111;
}
.flexBox { display: flex; }
.horario { width: 48%; padding-right: 40px; box-sizing: border-box; }
div.fecha { width: 48%; padding-left: 40px; box-sizing: border-box; }
.lineVertical { width: 1px; height: 518px; background-color: rgba(243, 243, 243, 0.37); }
.horaElige {
	font-family: 'Roboto Mono', monospace;
	font-size: 13px;
	letter-spacing: 1.22px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	border: 1px solid var( --blanco );
	border-radius: 5px;
	margin: 5px 0;
	transition: all 0.5s;
	cursor: pointer;
}
.horaElige:hover, .horaElige.marcada { background-color: var( --blanco ); color: var( --negro ); }
.horarioScroll { height: 275px; margin: 20px 0; overflow-y: auto; }
.ui-datepicker-title {
	text-align: left;
	box-sizing: border-box;
	padding: 0 15px;
	font-size: 22px;
	text-transform: uppercase;
}
.ui-datepicker-prev, .ui-datepicker-next { position: absolute; }
.ui-datepicker-prev { right: 40px; }
.ui-datepicker-prev span { display: none; }
.ui-datepicker-prev:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053"; }
.ui-datepicker-next { right: 15px; }
.ui-datepicker-next span { display: none; }
.ui-datepicker-next:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054"; }
.ui-datepicker-title, .ui-datepicker-calendar, .ui-datepicker-header, #datepicker {
	width: 350px;
	max-width: 100%;
	margin: 20px auto;
}
#datepicker { position: relative; margin-top: 65px; }
.ui-datepicker-calendar th { font-size: 15px; }
.ui-datepicker-calendar td {
	width: 40px;
	height: 40px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}
.ui-datepicker-calendar td { text-align: center; }
.ui-datepicker-calendar td a { color: var( --blanco ); }
.ui-datepicker-calendar td span { color: var( --morado ); }
.ui-datepicker-calendar td.ui-datepicker-today a,
.ui-datepicker-calendar td a.ui-state-active {
	width: 35px;
	height: 35px;
	display: block;
	background-color: rgba( 255, 255, 255, 0.5 );
	border-radius: 50%;
	color: var( --negro );
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 5px;
}
.ui-datepicker-calendar td a.ui-state-active { background-color: var( --blanco ); }
.popup {
	width: 824px;
	box-sizing: border-box;
	padding: 45px;
	background-color: var( --negro );
	color: var( --blanco );
	position: fixed;
	max-width: 90%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -1800px;
	transition: all 0.5s;
	z-index: 1111111;
}
.popup .cierra {
	z-index: 1;
	cursor: pointer;
	color: var( --blanco );
	font-size: 40px;
	position: absolute;
	right: 40px;
	top: 40px;
}
.popup.datos { width: 600px; }
.popup.popupActivo {
	top: 50%;
	transform: translateY(-50%);
}
.popup h1 {
	font-size: 22px;
	letter-spacing: 2.07px;
}
.popup .horario h1 { margin-top: 60px; }
.popup div.fecha h1 { margin-top: 10px; }
.popup h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 13px;
	letter-spacing: 1.22px;
}
.contactoDivPop { display: none; }
.founderImgTmp {
	position: absolute;
	top: 0;
	right: 0;
	width: 45%;
	height: 150% !important;
	box-sizing: border-box;
}
body.general footer {
	margin-top: 180px;
	background-color: var( --negro );
	color: var( --letraFooter );
	padding: 82px 0;
	box-sizing: border-box;
}
body.general.contact footer, body.general.press footer { margin-top: 0; }
#pinContainer {
	width: 100%;
	height: 100% !important;
	overflow: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}
#slideContainer {
	width: 500%;
	height: 100%;
}
.panel {
	height: 100%;
	width: 20%;
	float: left;
}
.panel img { height: 100%; width: auto; margin: 0 auto; }
.volverContent {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1.22px;
	color: var( --negro );
	padding: 20px;
	margin: 50px auto;
}
.volverContent i { font-size: 50px; }
footer .footerContent { display: flex; margin-top: 85px; }
footer .footerContent h1 {
	margin: 0;
	font-size: 18px;
	letter-spacing: 1.59px;
}
footer .footerContent .linea { display: block; width: 24px; height: 1px; background-color: var( --letraFooter ); margin: 15px 0; }
footer .footerContent .primerColumna { min-width: 170px; margin-left: 100px; }
footer .footerContent .menuFooter { list-style: none; padding-left: 0; }
footer .footerContent .menuFooter li a {
	font-size: 18px;
	line-height: 1.94;
	letter-spacing: 1.3px;
	color: var( --letraFooter );
}
footer .footerContent .menuFooter.italico li a {
	font-style: italic;
	font-size: 16px;
	line-height: 2.19;
	letter-spacing: 1.41px;
}
footer .footerContent .segundaColumna { width: 150px; margin-left: 150px; }
footer .footerContent h1.mTop { margin-top: 100px; margin-bottom: 24px; }
.sociales { display: flex; }
.sociales a {
	border-radius: 50%;
	color: var( --letraFooter );
	border: 1px solid var( --letraFooter );
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 20px;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 3px;
}
footer .footerContent .tercerColumna { width: 550px; margin-left: 250px; }
footer .footerContent p {
	font-size: 30px;
	line-height: 1.73;
	letter-spacing: 2.65px;
}
.tCenter { text-align: center; }
footer .footerContent .tercerColumna img { width: 350px; height: auto; }
@media screen and ( max-width: 1650px ) {
	.imgContact { top: 0; margin-top: 0; }
}
@media screen and ( max-width: 1350px ) {
	.textContent.contacto { max-width: 40%; }
}
@media screen and ( max-width: 1300px ) {
	.aboutItem .aboutContent { width: 650px; max-width: 40%; }
	.aboutItem .aboutImg { width: 750px; max-width: 60%; }
}
@media screen and ( max-width: 1250px ) {
	.imgContact { width: 58%; }
	footer .footerContent .tercerColumna { margin-left: 180px; }
}
@media screen and ( max-width: 1165px ) {
	header { text-align: center; }
	.home header:hover { background-color: transparent; }
	header .menu {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 110;
		width: 0;
		height: 100%;
		background-color: rgba( 0, 0, 0, 0.7 );
		margin: 0;
		display: initial;
		box-sizing: border-box;
		padding: 0;
		overflow: hidden;
		box-sizing: border-box;
		padding: 50px 0;
		transition: all 0.5s;
	}
	header .menu.abierto { width: 350px; padding: 50px 50px; }
	header .menu li { width: 100%; text-align: right; margin-bottom: 25px; }
	header .menu li a { font-size: 24px; }
	.botonAgenda { right: 0; left: 0; margin: 0 auto; }
	.bMobileCierra, .bMobile { display: block; }
}
@media screen and ( max-width: 1100px ) {
	.pressItem .pressImg { margin-right: 25px; }
	footer .footerContent .primerColumna,
	footer .footerContent .segundaColumna,
	footer .footerContent .tercerColumna { margin-left: 80px; }
}
@media screen and ( max-width: 985px ) {
	.imgContact { display: none; }
	.scheduleBoton { color: var( --negro ); border-bottom: 1px solid var( --negro ); }
	.textContent.contacto {
		width: 580px;
		max-width: 90%;
		margin: 0 auto;
	}
}
@media screen and ( max-width: 970px ) {
	.pressItem .principal { display: block; }
	.pressItem .pressImg { margin-right: 0; width: 100%; max-width: initial; }
	.pressItem .pressContent { width: 100%; max-width: initial; margin-top: 40px; }
	.busquedaDiv input { width: 280px; }
	.aboutItem { display: block; }
	.aboutItem .aboutContent, .aboutItem .aboutImg, .aboutItem.vertical .aboutContent, .aboutItem.vertical .aboutImg { width: 100%; max-width: initial; }
	.aboutItem .aboutContent, .aboutItem.vertical .aboutContent {
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.contentText { width: 100%; max-width: initial; }
	.founderImgTmp { position: relative; width: 100%; margin-top: 50px; }
	footer .footerContent .primerColumna { margin-left: 20px; }
	div.fecha { padding-left: 20px; }
	.horario { padding-right: 20px; }
}
@media screen and ( max-width: 900px ) {
	.popup { height: 100%; overflow-y: auto; }
	.popup .flexBox { display: block; }
	.popup .horario, .popup .fecha { width: 100%; padding: 15px 0; }
	.popup .lineVertical { width: 100%; height: 1px; }
	.popup .horario h1 { margin-top: 0; }
	.horarioScroll { height: 180px; }
	#datepicker { margin-top: 10px; }
	#datepicker, .ui-datepicker-title, .ui-datepicker-calendar, .ui-datepicker-header { width: 100%; }
	.ui-datepicker-title { padding: 0; }
}
@media screen and ( max-width: 840px ) {
	footer { text-align: center; }
	footer .footerContent .primerColumna, footer .footerContent .segundaColumna, footer .footerContent .tercerColumna { margin-left: 0; width: 100%; }
	footer .footerContent { display: block; }
	.sociales { width: 150px; margin: 0 auto; }
	footer .footerContent .linea { margin: 15px auto; }
	.footerContent .tercerColumna { margin-top: 20px; }
}
@media screen and ( max-width: 800px ) {
	.contentText { width: 100%; max-width: 100%; }
	.busquedaDiv input { width: 200px; }
	.awardItem .contenido { display: block; }
	.awardItem .contenido .titulos, .awardItem .contenido .descripcion { width: 100%; max-width: initial; }
	.scheduleBoton { position: relative; margin: 50px auto; right: 0; left: 0; display: block; width: 220px; }
}
@media screen and ( max-width: 610px ) {
	.busquedaDiv { float: none; max-width: 100%; width: 250px; margin: 0 auto; }
	.titulos { float: none; width: 100%; text-align: center; }
	.pressItem .pressContent { margin-top: 20px; }
	.contactoDiv .mitad, .popup .mitad { display: block; }
	.contactoDiv .mitad .campo, .popup .mitad .campo { width: 100%; }
	.contactoDiv .mitad .campo:first-child { padding-right: 0 }
	.scrollBarPosition { display: none; }
}
@media screen and ( max-width: 560px ) {
	.testimonioText { font-size: 30px; margin: 120px auto; }
	.aboutItem h3 { font-size: 30px; }
	header { text-align: left; }
	.logoImg { width: 300px; height: auto; }
	.bMobile { top: 30px; }
}
@media screen and ( max-width: 450px ) {
	.home .sociales { left: 30px; }
	.principal { padding: 0 30px; }
	.bMobile { right: 30px; }
}
@media screen and ( max-width: 410px ) { header .principal { padding-left: 20px; } .home .sociales { left: 20px; } }
@media screen and ( max-width: 395px ) { .logoImg { width: 250px; } }
@media screen and ( max-width: 375px ) {
	footer .footerContent p { font-size: 20px; }
	h1 { font-size: 40px; }
}
