:root {
	--blanco: #fff;
	--negro: #000;
	--grisLetras: #898e91;
	--grisClaro: #FAFAFA;
	--grisOscuro: #3b3b3b;
	--grisLinea: #ccc;
	--semiNegro: #070606;
	--grisFondo: #e3e3e3;
	--bordePress: #050505;
	--bordeInput: #979797;
	--letraFooter: #f3f3f3;
}